[submodule "api"]
	path = api
	url = git@github.com:OurUncomplicatedTemplates/fastify-prisma-redis-swagger-jwt-template.git
[submodule "web"]
	path = web
	url = git@github.com:OurUncomplicatedTemplates/nuxt-jwt-template.git